_site/
.jekyll-cache/
.DS_Store
_site/ATOUC/Ex2/Glossaria.html
_site/ATOUC/Ex3/Original Message.html
_site/ATOUC/Ex4/CrawlSpace3.jpg.jpeg
_site/ATOUC/Ex4/Infrared_Inspection.jpg
_site/ATOUC/Ex4/mrs_freeze.jpg
_site/ATOUC/Ex4/pipes.jpeg
